<p class="text-white syncopate" id="userID">Welcome {{username}}</p>
<h1 class="text-center text-white syncopate">Shopping Lists</h1>

<div class="container">
  <div class="divider"></div>
    <div class="row">
      <div class="col-lg-12">
          <mat-icon id="add">add</mat-icon><mat-icon id="remove">remove</mat-icon> <h5 class="text-white text-center syncopate new-list">New List</h5>
      </div><!--col-lg-12-->
    </div><!--row-->
    <div class="add-list">
      <div class="row">
        <div class="col-lg-6">
          <div class="new-list-title-box">
            <h3 contenteditable="true" class='text-white syncopate' id="new-list-title">New List Title</h3>
          </div><!--new-list-title-box-->
        </div><!--col-lg--6-->
        <div class="col-lg-6">
          <div id="nlib" class="new-list-item-box">
            <h6 contenteditable="true" class="new-list-item syncopate text-white" id="1">New List Items</h6>
            <button (click)="appendNext()" class="btn" id="add-item-button"><p id="plus">+</p></button>
          </div><!--new-list-item-box-->
        </div><!--col-lg--6-->
      </div><!--row-->
      <div class="row">
          <div class="col-lg-12">
            <button (click)="addList()" class="btn" id="add-list-button">Add List</button>
          </div>
        </div>
    </div><!--add-list-->
  <div class="divider"></div>

    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-white text-center syncopate">Lists:</h2>
            <ul id="list-list" class="lists">
                <!--<li *ngFor="let list of lists">
                  <a routerLink="/lists/{{list.id}}">
                    <h3 class="text-white list-title syncopate">{{list.name}}</h3>
                  </a>
                  <button class="delete" title="delete list"
                    (click)=delete(list.id)>x</button>
                </li>-->
              </ul>
        </div>
        <div class="col-lg-6 grey">
            <h2 class="text-white text-center syncopate">Items:</h2>
            <ul id="list-items">
              <!--<h3 class="text-white list-title syncopate">{{id}}</h3>-->
            </ul>
        </div>
    </div>
</div>
