.lists{
    list-style: none;
}

.delete{
    float: right;
}

.list-title{
    display: inline !important;
}

li{
    margin-top: 25px;
    margin-bottom: 25px;
}

.grey{
    background-color: #191221;
}