<p class="text-white syncopate" id="userID">Welcome {{username}}</p>
<h1 class="text-center text-white syncopate">Shopping Lists</h1>

<div class="container">
  <div class="divider"></div>
    <div class="row">
      <div class="col-lg-12">
          <mat-icon id="add">add</mat-icon><mat-icon id="remove">remove</mat-icon> <h5 class="text-white text-center syncopate new-list">New List</h5>
      </div><!--col-lg-12-->
    </div><!--row-->
    <div class="add-list">
      <div class="row">
        <div class="col-lg-6">
          <div class="new-list-title-box">
            <h3 contenteditable="true" class='text-white syncopate' id="new-list-title">New List Title</h3>
          </div><!--new-list-title-box-->
        </div><!--col-lg--6-->
        <div class="col-lg-6">
          <div id="nlib" class="new-list-item-box">
            <h6 contenteditable="true" class="new-list-item syncopate text-white" id="1">New List Items</h6>
            <button (click)="appendNext()" class="btn" id="add-item-button"><p id="plus">+</p></button>
          </div><!--new-list-item-box-->
        </div><!--col-lg--6-->
      </div><!--row-->
      <div class="row">
          <div class="col-lg-12">
            <button (click)="addList()" class="btn" id="add-list-button">Add List</button>
          </div>
        </div>
    </div><!--add-list-->
  <div class="divider"></div>

    <div class="row">
        <div class="col-lg-6">
          <div class="list-box">
            <h2 class="text-white text-center syncopate">Lists:</h2>
            <ul id="list-list" class="lists">
                <li id="{{list._id}}" *ngFor="let list of lists">
                  <a routerLink="/lists/{{list._id}}/{{list.title}}">
                    <h3 class="text-white list-title syncopate">{{list.title}}</h3>
                  </a>
                  <button class="delete" title="delete list"
                    (click)=deleteList(list,list._id)>x</button>
                </li>
              </ul>
            </div><!--list-box-->
        </div>
        <div class="col-lg-6 list-item-col">
          <div class="list-item-box">
            <h4 id="save-warning">Changes have not been saved.</h4>
            <h2 class="text-white text-center syncopate">{{this.title}}</h2>
            <ul id="list-items" class="items">
              <!--<h3 class="text-white list-title syncopate">{{id}}</h3>-->
              <li *ngFor="let item of items">
                  <h3 contenteditable="true" class="text-white list-title item-title syncopate">{{item}}</h3>
                  <button class="delete" title="delete list" (click)=deleteItem(item)>x</button>
              </li>
            </ul>
            <button (click)="appendNextItem()" class="btn" id="add-item-button2"><p id="plus">+</p></button>
            <button (click)="saveItemChanges()" class="btn" id="save-item-changes"><p id="save">Save</p></button>
          </div><!--list-item-box-->
        </div>
    </div>
</div>
