<form id="sign-on">
  <h2 class="syncopate text-center text-white">Sign In:</h2>
  <div id="bad-login" class="alert alert-danger" role="alert">
      Username or password incorrect!
  </div>
  <div class="form-group">
    <label class="syncopate text-white control-label" for="sign-in-email">Username</label>
    <input #username type="email" class="form-control" id="sign-in-email" aria-describedby="emailHelp" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label class="syncopate text-white control-label" for="sign-in-password">Password</label>
    <input #password type="password" class="form-control" id="sign-in-password" placeholder="Password">
  </div>
  <button (click)="login(username.value, password.value)" id="sign-in-button" type="submit" class="btn btn-secondary">Sign In</button>
  <!--<button onclick="window.location.href='/memories'" id="sign-in-button" type="submit" class="btn btn-secondary">Sign In</button>-->

  <h3 class="syncopate text-white">No Account?</h3>
  <button onclick="window.location.href='/new-account'" id="new-account-button" class="btn btn-secondary">Create New Account</button>
</form>
