<h1 class="text-center text-white syncopate">Memories</h1>

<div class="memory container">
  <h3 class="memory-title text-white text-center syncopate">Memory Title - Date</h3>
  <div class="row">
    <div class="col-lg-6">
      <img class="memory-img" src="../../../assets/images/florida.jpg" alt="">
    </div><!--col-lg-6-->
    <div class="col-lg-6">
      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus in elit sed commodo. Phasellus eget fermentum ante. Integer pharetra tortor in mi tempus, id convallis quam rutrum. Donec quis justo nulla. Vivamus nec auctor lectus. Cras volutpat orci sit amet leo fringilla, ultricies auctor risus sagittis. Aenean convallis et dolor non mollis. Nulla faucibus nibh eget laoreet tempus.</p>
    </div><!--col-lg-6-->
  </div><!--row-->
</div><!--container-->
